.slick-slide {
  padding: 0 7px;
  position: relative;
}

#prevArrow,
#nextArrow {
  height: 100%;
  background: rgba($color-black-light, 0.2);
  z-index: 10;
  width: 25px;
}

#prevArrow {
  border-radius: 5px 0 0 5px;
  left: -10px;
}

#nextArrow {
  border-radius: 0 5px 5px 0;
  right: -10px;
}


@mixin Arrow($width, $height, $rotate) {
  content: "";
  display: block;
  width: $width;
  height: $height;
  background: rgba($color-black,0.8);
  position: absolute;

  transform: rotate($rotate);
}




// 
.prevarrowincarousel:before {
  @include Arrow(30px, 1px, -60deg);
  top: 41%;
  left: -3px;
}

.prevarrowincarousel:after {
  @include Arrow(30px, 1px, 60deg);
  bottom: 41%;
  left: -3px;
}

.nextarrowincarousel:before {
  @include Arrow(30px, 1px, 60deg);
  top: 41%;
  
  right: -3px;
}

.nextarrowincarousel:after {
  @include Arrow(30px, 1px, -60deg);
  bottom: 41%;
  right: -3px;
}

// 




// 
.nextarrowkeysearch::before {
  @include Arrow(15px, 1px, 60deg);
  top: 40%;
  
}

.nextarrowkeysearch::after {
  @include Arrow(15px, 1px, -60deg);
  bottom: 40%;

}

.prevarrowkeysearch::before {
  @include Arrow(15px, 1px, -60deg);
  top: 40%;
  
}

.prevarrowkeysearch::after {
  @include Arrow(15px, 1px, 60deg);
  bottom: 40%;
  
}
// 


.arrowincarousel {
  height: 150px !important;
  top: 29%;
}
