.aboutus-area {
  &__title {
    text-align: center;
    margin-bottom: 30px;
  }

  &__card {
    text-align: center;
    border-radius: 10px;
    padding: 30px 20px;

    &:hover{
      box-shadow: 1px 1px 6px 2px #aaa3;
      transition:0.2s ease-in-out;
    }

    &__image {
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 15px;
    }

    &__name{
      font-size: 20px;
      font-weight: 600;
    }
  }
}
