.wraper-banner {
  background-image: url("https://static.nhadatmoi.net/default/background_about.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  &__content {
    padding: 0 200px;
    text-align: center;

    @include breakpoint(lgDown) {
      padding: 0 80px;
    }

    @include breakpoint(mdDown) {
      padding: 0 30px;
    }

    @include breakpoint(smDown) {
      padding: 0 15px;
    }

    &__title {
      font-size: 60px;
      font-weight: 900;
      margin-bottom: 10px;
      @include breakpoint(lgDown) {
        font-size: 40px;
      };
    }

    &__slogan {
      font-size: 20px;
      font-weight: 500;
    }
  }
}
