.cards-area{

  &__card{
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 2px #aaa3;
    padding: 30px 20px;

    @include breakpoint(lgDown) {
      min-height: 287px;
    }

    &__title{
      font-size: 23px;
      font-weight: 900;
      margin-bottom:10px;
    }

    &__description{
      font-size: 16px;
    }
  }
}
