
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: $font-base;
  font-weight: 400;
  line-height: 1.5 !important;
  box-sizing: border-box;
  color: $color-black-light;
}


img{
  max-width: 100%;
}

ul li{
  list-style: none;
}
