
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: $color-black;
  // text-transform: uppercase;
  letter-spacing: 0.025em;
  
 
}


h1{
  font-size: $font-size-h1;
}

h2{
  font-size: $font-size-h2;
}

h3{
  font-size: $font-size-h3;
}

h4{
  font-size: $font-size-h4;
}

h5{
  font-size: $font-size-h5;
}

h6{
  font-size: $font-size-h6;
  line-height: $font-size-h6;
}

@media (max-width: 1199px) {
  h1 {
    font-size: $font-size-h1 * 0.8;
  }
  h2 {
    font-size: $font-size-h2 * 0.8;
  }
  h3 {
    font-size: $font-size-h3 * 0.8;
  }
  h4 {
    font-size: $font-size-h4 * 0.8;
  }
  h5 {
    font-size: $font-size-h5 * 0.8;
  }
}


a{
  color:$color-blue;
}

.body-general{
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.title-general{
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 15px;

  @include breakpoint(mdDown) {
    text-align: center;
  }
}

.description-general{
  font-size: 16px;
  text-align: justify;
}
