.u-center-text {
  text-align: center !important;
}

.u-margin-big{
  margin: 8rem !important;
}

.u-margin-medium{
  margin: 4rem 0!important;
}

.u-margin-small{
  margin: 1rem 0!important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-small {
  margin-top: 1rem !important;
}

.u-padding-bottom-big {
  padding-bottom: 8rem !important;
}

.u-padding-bottom-medium {
  padding-bottom: 4rem !important;
}

.u-padding-bottom-small {
  padding-bottom: 1rem !important;
}

.u-padding-top-big {
  padding-top: 8rem !important;
}

.u-padding-top-medium {
  padding-top: 4rem !important;
}

.u-padding-top-small {
  padding-top: 1rem !important;
}

.u-padding-medium{
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.u-flexCenter {
  display: flex;
  align-items: center;
}

.u-flexSpaceBetween {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.u-textCenter{
  text-align: center;
}

.text-active{
  color: $color-blue-dark;
}


.container {
  padding: 0 50px;

  @media(max-width: 678px){
    padding: 0 15px;
  }
}

.container-big {
  padding: 0 300px;

  @media(max-width: 1600px){
    padding: 0 150px;
  }

  @media(max-width: 1440px){
    padding: 0 25px;
  }

  @media(max-width: 678px){
    padding: 0 15px;
  }

  @media(max-width: 480px){
    padding: 0 10px;
  }
}









.border-dashed{
  border-bottom:1px dashed $color-black-light ;
  margin: 15px 0
}

.border-right{
  border-right:1px solid $color-grey-dark ;
}

.border-bottom{
  border-bottom:1px solid $color-grey-dark ;
}

.border-top{
  border-top:1px solid $color-grey-dark ;
}

.border-left{
  border-left:1px solid $color-grey-dark ;
}

.border{
  border:1px solid $color-grey-dark ;
}